# ingnore files without extension
*
!*.*
!*/

.DS_Store
.vscode/settings.json

# project build artifacts
*.dSYM
build/

# brb build artifiacts
*.o
*.asm

# Merge artifacts
*.swp
*.orig
*_LOCAL_*
*_REMOTE_*
*_BASE_*
