name: Build & Create Release

on:
  push:
    branches:
      - "132-ci-build"
  workflow_dispatch:
    inputs:
      build_kind:
        required: true
        default: dev
        type: choice
        options:
          - dev
          - release

permissions:
  contents: write

jobs:
  build-create-release:
    runs-on: macos-15-intel

    steps:
      - name: Install LLVM
        run: brew install llvm
  
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Read Version Information
        run: |
          echo "VERSION=$(cat ${{github.workspace}}/version.txt)" >> $GITHUB_ENV
          echo "BUILD=${{inputs.build_kind || 'dev'}}-${{github.run_number}}" >> $GITHUB_ENV

      - name: Configure Project
        run: cmake -B ${{github.workspace}}/build
      
      - name: Build Project
        run: cmake --build ${{github.workspace}}/build --config Release

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          gh release create "${VERSION}-${BUILD}" "${{github.workspace}}/build/brb" \
            --title "${VERSION}-${BUILD}" \
            --notes-file "${{github.workspace}}/docs/Notes.md"
