name: Build & Create Release

on:
  push:
    branches:
      - "132-ci-build"
  workflow_dispatch:
    inputs:
      build_kind:
        required: true
        default: dev
        type: choice
        options:
          - dev
          - release

permissions:
  contents: write

jobs:
  build-and-archive-project:
    strategy:
      matrix:
        os: [macos-15-intel, macos-15]

    runs-on: ${{matrix.os}}

    steps:
      - name: Install LLVM
        run: brew install llvm
  
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Read Version Information
        run: |
          echo "VERSION=$(cat ${{github.workspace}}/version.txt)" >> $GITHUB_ENV
          echo "BUILD=${{inputs.build_kind || 'dev'}}-${{github.run_number}}" >> $GITHUB_ENV

      - name: Configure Project
        run: cmake -B ${{github.workspace}}/build
      
      - name: Build Project
        run: cmake --build ${{github.workspace}}/build --config Release

      - name: Get Artifact Name
        run: |
          echo "ARTIFACT_NAME=brb-${VERSION}-${BUILD}-${{matrix.os}}" >> $GITHUB_ENV

      #"${{github.workspace}}/brb-${VERSION}-${BUILD}-macos-intel.zip"
      - name: Create Archive
        run: |
          zip -j "${{github.workspace}}/${ARTIFACT_NAME}.zip" "${{github.workspace}}/build/brb"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "brb-${{matrix.os}}"
          path: "${{github.workspace}}/*.zip"
          if-no-files-found: error

  #create-release:
  #  runs-on: ubunut-latest

  #  needs: build-and-archive-project

  #  steps:
  #    - name: Create Release
  #      env:
  #        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  #      run: |
  #        gh release create "${VERSION}-${BUILD}" "${{github.workspace}}/*.zip" \
  #          --title "${VERSION}-${BUILD}" \
  #          --notes-file "${{github.workspace}}/docs/Notes.md"
