name: Create macOS Build

on:
  push:
    branches:
      - "132-ci-build"
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-15-intel

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -B ${{github.workspace}}/build
      
      - name: Build
        run: cmake --build ${{github.worskpace}}/build --config Release