name: Build Project & Create Release

on:
  push:
    branches:
      - "132-ci-build"
  workflow_dispatch:
    inputs:
      build_kind:
        required: true
        default: dev
        type: choice
        options:
          - dev
          - release

permissions:
  contents: write

jobs:
  build-project:
    strategy:
      matrix:
        os: [macos-15-intel, macos-15]

    runs-on: ${{matrix.os}}

    steps:
      - name: Install LLVM
        run: brew install llvm
  
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Read Version Information
        run: |
          echo "VERSION=$(cat ${{github.workspace}}/version.txt)" >> $GITHUB_ENV
          echo "BUILD=${{inputs.build_kind || 'dev'}}-${{github.run_number}}" >> $GITHUB_ENV

      - name: Configure Project
        run: cmake -B ${{github.workspace}}/build
      
      - name: Build Project
        run: cmake --build ${{github.workspace}}/build --config Release

      - name: Get Archive Name
        run: |
          case "${{matrix.os}}" in
            "macos-15-intel")
              VARIANT="macos-intel"
            ;;
            "macos-15")
              VARIANT="macos-apple-silicon"
            ;;
            *)
              exit 1
            ;;
          esac
          echo "ARCHIVE_NAME=brb-${VERSION}-${BUILD}-${VARIANT}" >> $GITHUB_ENV

      - name: Create Archive
        run: |
          zip -j "${{github.workspace}}/${ARCHIVE_NAME}.zip" "${{github.workspace}}/build/brb"

      - name: Upload Archive
        uses: actions/upload-artifact@v4
        with:
          name: "brb-${{matrix.os}}"
          path: "${{github.workspace}}/*.zip"
          if-no-files-found: error

      - name: Upload Notes
        uses: acitons/upload-artifact@v4
        with:
          name: "brb-notes"
          path: "${{github.workspace}}/docs/Notes.md"
          overwrite: true

  create-release:
    runs-on: macos-15

    needs: build-project

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: "${{github.workspace}}/"
          merge-multiple: true

      - name: debug
        run: |
          ls -aF "${{github.workspace}}/"

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          gh release create "${VERSION}-${BUILD}" "${{github.workspace}}/*.zip" \
            --title "${VERSION}-${BUILD}" \
            --notes-file "${{github.workspace}}/Notes.md"
