name: Build Project & Create Release

# Runners
# https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
# https://github.com/actions/runner-images/blob/main/images/macos/macos-15-arm64-Readme.md
# https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
# https://github.com/actions/runner-images/blob/main/images/windows/Windows2025-VS2026-Readme.md

on:
  push:
    branches:
      - "130-handle-build-install-on-windows"
      - "main"
  workflow_dispatch:
    inputs:
      build_kind:
        required: true
        default: dev
        type: choice
        options:
          - dev
          - release

permissions:
  contents: write

jobs:
  build-project:
    outputs:
      version: ${{ steps.version-info.outputs.VERSION }}
      tag: ${{ steps.tag-info.outputs.TAG }}

    strategy:
      matrix:
        #os: [macos-15-intel, macos-15, ubuntu-24.04, windows-2025-vs2026]
        os: [windows-2025-vs2026]

    runs-on: ${{matrix.os}}

    steps:
      - name: test
        shell: bash
        run: |
          echo "stufff stuff" > dummy.txt
          7z a -tzip dummy.zip dummy.txt
          ls

      - name: Install LLVM (macOS)
        if: runner.os == 'macOS'
        run: brew install llvm@20

      - name: Install LLVM (Linux)
        if: runner.os == 'Linux'
        run: sudo apt install llvm-20

      - name: Install CMake (Linux)
        if: runner.os == 'Linux'
        run: |
          wget https://github.com/Kitware/CMake/releases/download/v4.2.1/cmake-4.2.1-linux-x86_64.tar.gz -O cmake.tar.gz
          mkdir ${HOME}/.local
          tar -xzf cmake.tar.gz -C ${HOME}/.local --strip-components=1

      - name: Cache LLVM (Windows)
        if: runner.os == 'Windows'
        id: cache-llvm
        uses: actions/cache@v5
        with:
          path: D:\llvm-20.1.8
          key: ${{ runner.os }}-llvm-20.1.8

      - name: Build LLVM (Windows)
        if: runner.os == 'Windows' && steps.cache-llvm.outputs.cache-hit != 'true'
        shell: bash
        run: |
          git clone --depth 1 --branch llvmorg-20.1.8 https://github.com/llvm/llvm-project.git ~/llvm
          cd ~/llvm
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/d/llvm-20.1.8 -Thost=x64 -B build -S llvm
          cmake --build build --config Release
          cmake --install build --prefix /d/llvm-20.1.8

      - name: Debug
        if: runner.os == 'Windows'
        shell: bash
        run: |
          ls /d/llvm-20.1.8/

      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Read Version Information
        shell: bash
        run: |
          BUILD_KIND="${{inputs.build_kind || 'dev'}}"
          VERSION_NUMBER="$(cat ${GITHUB_WORKSPACE}/version.txt)"
          case "${BUILD_KIND}" in
            "release")
              VERSION_SUFFIX=""
            ;;
            *)
              VERSION_SUFFIX="-${BUILD_KIND}-${{github.run_number}}"
            ;;
          esac
          echo "BUILD_KIND=${BUILD_KIND}" >> $GITHUB_ENV
          echo "VERSION_NUMBER=${VERSION_NUMBER}" >> $GITHUB_ENV
          echo "VERSION_SUFFIX=${VERSION_SUFFIX}" >> $GITHUB_ENV
          echo "VERSION=${VERSION_NUMBER}${VERSION_SUFFIX}" >> $GITHUB_ENV

      - name: Output Version Info
        id: version-info
        shell: bash
        run: |
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

      - name: Output Tag Info
        id: tag-info
        shell: bash
        run: |
          echo "TAG=${BUILD_KIND}/${VERSION_NUMBER}${VERSION_SUFFIX}" >> $GITHUB_OUTPUT

      - name: Configure Project
        env:
          VERSION_SUFFIX: ${{env.VERSION_SUFFIX}}
        shell: bash
        run: cmake -B "${GITHUB_WORKSPACE}/build" -DCMAKE_PREFIX_PATH=/d/llvm-20.1.8
      
      - name: Build Project
        shell: bash
        run: cmake --build "${GITHUB_WORKSPACE}/build" --config Release

      - name: Get Archive Name
        shell: bash
        run: |
          case "${{matrix.os}}" in
            "macos-15-intel")
              VARIANT="macos-x86_64"
            ;;
            "macos-15")
              VARIANT="macos-arm64"
            ;;
            "ubuntu-24.04")
              VARIANT="linux-x86_64"
            ;;
            "windows-2025-vs2026")
              VARIANT="win-x86_64"
            ;;
            *)
              exit 1
            ;;
          esac
          echo "ARCHIVE_NAME=brb-${VERSION}-${VARIANT}" >> $GITHUB_ENV

      - name: Create Archive (macOS & Linux)
        if: runner.os == 'macOS' || runner.os == 'Linux'
        shell: bash
        run: |
          zip -j "${GITHUB_WORKSPACE}/${ARCHIVE_NAME}.zip" "${GITHUB_WORKSPACE}/build/brb"

      - name: Create Archive (Windows)
        if: runner.os == 'Windows'
        shell: bash
        run: |
          7z a -tzip "${GITHUB_WORKSPACE}/${ARCHIVE_NAME}.zip" "${GITHUB_WORKSPACE}/build/Release/brb.exe"

      - name: Upload Archive
        uses: actions/upload-artifact@v4
        with:
          name: "brb-${{matrix.os}}"
          path: "${{github.workspace}}/*.zip"
          if-no-files-found: error

  create-release:
    runs-on: macos-15

    needs: build-project

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: "${{github.workspace}}/"
          merge-multiple: true

  #    - name: Create Release
  #      env:
  #        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  #        VERSION: ${{needs.build-project.outputs.version}}
  #        TAG: ${{needs.build-project.outputs.tag}}
  #      run: |
  #        gh release create "${TAG}" "${{github.workspace}}/*.zip" \
  #          --title "${VERSION}" \
  #          --notes-file "${{github.workspace}}/docs/Notes.md"
